<div class="card mx-auto my-2" style="width: 18rem;">
  <img src="/public/imgs/{{imagen}}" class="card-img-top" alt="{{nombre}}">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <p class="card-text">{{descripcion}}</p>
    <button class="btn btn-primary">Comprar</button>
  </div>
</div>